<ion-view view-title="Stable">
  <ion-content>
    <div class="row">
      <div class="col">
        <button class="button  button-block button-stable">
          Button
        </button>
      </div>
      <div class="col">
        <button class="button button-outline  button-block button-stable">
          Outlined
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-small  button-block button-stable">
          Small
        </button>
      </div>
      <div class="col">
        <button class="button button-large  button-block button-stable">
          Large
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-stable">
          Block Button
        </button>
      </div>
    </div>
    <button class="button button-full button-stable">
      Full Width Block Button
    </button>
    <hr class="hr-stable">
    <!-- content goes here -->
    <ion-list>
      <ion-item class="test item-remove-animate item-avatar item-stable item-icon-right" type="item-text-wrap" ui-sref="main.stable">
        <img src="main/assets/images/Ionic-Logo.jpg">
        <h2>Mr. Yo</h2>
        <p>Learn more...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="test item-remove-animate item-avatar item-stable item-icon-right" type="item-text-wrap" ui-sref="main.stable">
        <img src="main/assets/images/Ionic-Logo.jpg">
        <h2>Mr. Yo</h2>
        <p>Learn more...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="test item-remove-animate item-avatar item-stable item-icon-right" type="item-text-wrap" ui-sref="main.stable">
        <img src="main/assets/images/Ionic-Logo.jpg">
        <h2>Mr. Yo</h2>
        <p>Learn more...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
    </div>


    <div class="list card">
      <div class="item item-avatar card-stable">
        <img src="main/assets/images/Ionic-Logo.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="main/assets/images/Ionic-Logo.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="" class="subdued">1 Like</a>
          <a href="" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left card-stable">
        <a class="tab-item" href="">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>


    <div class="list card card-stable">

      <div class="item item-avatar card-stable">
        <img src="main/assets/images/Ionic-Logo.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="main/assets/images/41D5vU4I1NL.jpg">
      </div>

      <a class="item item-icon-left card-stable" href="">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>

    <div class="list list-stable">
      <label class="item item-input">
        <input type="text" placeholder="Form Input">
      </label>
    </div>

    <div class="list list-stable">
      <label class="item item-input item-floating-label">
        <span class="input-label">Floating Label</span>
        <input type="text" placeholder="Floating Label">
      </label>
    </div>

    <div class="list list-stable">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Tiny Button">
        </label>
        <button class="button button-stable button-small">
          Submit
        </button>
      </div>

    </div>

    <div class="list list-stable list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Icon Input">
      </label>
    </div>

    <div class="list">
      <div class="item range range-stable">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>

    <ul class="list list-stable">
      <li class="item item-toggle">
        HTML5
        <label class="toggle toggle-stable">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class=" button-clear button">Left</button>
    </div>
    <h1 class="title">Footer</h1>
    <div class="buttons">
      <button class=" button-clear button">Right</button>
    </div>
  </ion-footer-bar>
</ion-view>